#item-list li{
    border-bottom:1px solid #444;
    padding:5px 0;
    display: flex;
    justify-content: center;
}
.price-up{color:#ff4444;}
#game-container{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#dialog-name-container{
    position:absolute;
    top:-25px;
    left: 20px;
    background: #d4af37;
    color: #000;
    padding: 5px 25px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px -2px 5px rgba(0,0,0,3);
}
#dialog-body{
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    margin-top: 10px;
}
#dialog-text{
    margin: 0;
}
.next-indicater{
    position: absolute;
    bottom: 15px;
    right: 25px;
    color: #d4af37;
    font-size: 18px;
    animation: blink 1s infinite;
}
@keyframes blink{
    0%{
        opacity:0;
        transform: translateY(0);
    }
    50%{
        opacity:1;
        transform: translateY(5px);
    }
    100%{
        opacity:0;
        transform: translateY(0);
    }
}
